body{ background-color: lightblue;}
h1{
  color: black;
  text-align: center;
  font-size: 60px;
}
h2{color: black}
table,th, td{
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}
th{
  background-color: lightgray;
  font-weight: bold;
}

ol ::marker{content: "0" counter(list-item)". ";}

tr:(one) {background-color: lightgray;}

#paragraph2{
  width: 800px;
  border: 5px solid green;
  padding: 30px;
  margin: 20px;
  line-height: 30px;
  background-color: white;
}

.blue{
  color: white;
  width: 1500px;
  border: 5px solid black;
  padding: 10px;
  background-color: navy;
  margin: 10px;
}
a[href="http://www.w3schools.com"]{color: green;}
