body{ background-color: lightblue;}
h1{
  color: black;
  text-align: center;
  font-size: 60px;
}
h2{color: black}
table,th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
th{
  background-color: lightgray;
  font-weight: bold;
}

ol ::marker{content: "0" counter(list-item)". ";}

tr:(one) {background-color: lightgray;}
