:root{
  --jump-width: 15%;
  --header-height: 70px;
}

*{box-sizing: border-box;}

body{
  margin:0;
  font-family: Arial;
}

#jumpMenu{
  position: fixed;
  left: 0;
  top: 0;
  width: var(--jump-width);
  height: 100vh;
  color: black;
  background-color: gold;
  padding: 20px;
}

#jumpMenu a {
  color:Menu;
  text-decoration: underline;
}

#jumpMenu a:hover {text-decoration: underline;}

header{
  position: fixed;
  top: 0;
  left: var(--jump-width);
  width: calc(100% - var(--jump-width));
  height: var(--header-height);
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  z-index: 10;
  border-bottom: 1px solid green;
}

main{
  margin-left: var(--jump-width);
  padding-top: calc(var(--header-height) + 20px);
}

#container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
