:root { 
  --jump-width: 15%;
  --header-height: 70px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#jumpMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--jump-width);
  height: 100vh;
  background-color: gold;
  padding: 20px;
  display: none;
}

#jumpMenu li {
  list-style: none;
}

#jumpMenu li a {
  display: block;
  padding: 6px 10px;
  color: blue;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#jumpMenu li a:hover {
  background-color: blue;
  color: black;
}

#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
  display: block;
}


header {
  position: fixed;
  top: 0;
  left: var(--jump-width);
  width: calc(100% - var(--jump-width));
  height: var(--header-height);
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid green;
  z-index: 10;
}

main {
  margin-left: var(--jump-width);
  padding-top: calc(var(--header-height) + 20px);

}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

article {
  background-color: white;
  text-color: gray;
  padding: 15px;
  border-radius: 5px;
  color: black;                     
  max-height: 300px;
  overflow: hidden;
  transition: color 2s ease, max-height 2s ease;
}

article:hover {
  color: black;                    
  max-height: 1000px;              
}
#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
  display: block;
}

article:hover {
  color: black;                    
  max-height: 1000px;              
}

article p:first-of-type::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}

a[href*="google.com"]::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 6px;
  background-image: url("arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

nav button {
  background-color: blue;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease;
}

nav button:hover {
  background-color: lightblue;
}

#thanks {
  position: fixed;
  background-color: lightblue;
  color: navy;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
}
