* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

main {
    max-width: 1000px;
    margin: auto;
}
h3 {
    color: #1f3c88;
    margin-bottom: 8px;
    border-bottom: 2px solid #1f3c88;
    padding-bottom: 4px;
}

a {
    color: #1f3c88;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}
main {
    display: flex;
    flex-direction: column;
}

main > p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

@media (min-width: 900px) {

    body {
        background: linear-gradient(to right, #e3eaf5 25%, white 25%);
    }

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 30px;
        padding: 40px;
    }

    main > p {
        grid-column: span 2;
        text-align: left;
    }

    section:nth-of-type(1),
    section:nth-of-type(5) {
        grid-column: 1;
    }


    section:nth-of-type(2),
    section:nth-of-type(3),
    section:nth-of-type(4) {
        grid-column: 2;
    }

}
